body {
  background-color: rgb(6, 32, 53);
}

.app {
  text-align: center;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 10px;
}