.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #3498db;
    padding: 10px;
    margin: 0 30px;
}

.nav-item {
    color: white;
    cursor: pointer;
}

.nav-item p {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
}